h1 {
  text-shadow: 2px 2px 50px #000000;
}

.row {
  height: 100vh;
}

#today {
  border: solid;
  border-color: lightgrey;
  border-width: thin;
  border-radius: 5px;
  padding: 2em;
}

.uvRed {
  background-color: red;
  color: white;
}

.uvGreen {
  background-color: green;
  color: white;
}

.uvYellow{
  background-color: yellow;
  color:black;
}

.card-body {
  background-color: cornflowerblue;
  color: white;
  max-width: 200px;
  margin: .3em;
  border-radius: 10px;

}

.flex {
  display: flex;

}

.bg-dark {
  background-image: url("https://images.unsplash.com/photo-1566996694954-90b052c413c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  background-position: center;
  padding: 4em !important;
}

.mt-1 {
  margin-top: 1rem !important;
}