#today {
  border: solid;
  border-color: lightgrey;
  border-width: thin;
  border-radius: 5px;
  padding: 2em;
}

.uvRed {
  background-color: red;
  color: white;
}

.uvGreen {
  background-color: green;
  color: white;
}

.uvYellow{
  background-color: yellow;
  color:black;
}

.card-body {
  background-color: cornflowerblue;
  color: white;
  max-width: 200px;
  margin: .3em;
  border-radius: 10px;

}

.flex {
  display: flex;

}

